* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --card-color-bottom-line: #f7dd43;
  --card-color-h2-border: #746615;
  --card-bg-color: #1d1c19;
  --bg-img: url(./assets/bg.svg);
}

body.blue {
  --card-color-bottom-line: #338af3;
  --card-color-h2-border: #6a87a9;
  --card-bg-color: #202024;
  --bg-img: url(./assets/bg=green.svg);
}

body.green {
  --card-color-bottom-line: #047c3f;
  --card-color-h2-border: #51866b;
  --card-bg-color: #1a1f1b;
  --bg-img: url(./assets/bg=green.svg);
}

ul {
  list-style: none;
}

body {
  background-color: #121214;
  background-image: var(--bg-img);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  font-family: "Roboto", sans-serif;
}

#app {
  width: fit-content;
  margin: auto;
  padding-top: 52px;
}

header {
  margin-bottom: 62px;
  text-align: center;
}

#cards {
  display: flex;
  column-gap: 40px;
  row-gap: 32px;
  flex-direction: column;
}

.card {
  padding: 32px 22px;
  text-align: center;
  background: var(--card-bg-color);
  border-radius: 6px;
  border-bottom: 2px solid var(--card-color-bottom-line);
  animation: appear 0.5s;
}

.card h2 {
  display: flex;
  gap: 16px;
  align-items: center;
  padding: 8px 16px;
  border: 1px solid var(--card-color-h2-border);
  border-radius: 5px;
  width: fit-content;
  margin-inline: auto;
  margin-bottom: 53px;
  color: #f7dd43;
}

.card h2 span {
  color: aliceblue;
  font-size: 16px;
  text-transform: uppercase;
}

.card ul {
  display: flex;
  flex-direction: column;
  width: 270px;
}

.card ul li {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.card ul li.game {
  padding-top: 10px;
}

.card ul li strong {
  font-weight: 900;
  font-size: 28px;
  color: azure;
}

.card ul li strong:hover,
.card ul li img:hover {
  transform: scale(1.1);
}

.card ul li strong,
.card ul li img {
  transition: transform 0.3s;
}

.card ul li.names {
  font-size: 16px;
  color: grey;
  padding-top: 5px;
}

.card ul li h1 {
  font-size: 12px;
  color: azure;
  text-align: center;
  width: 270px;
  padding-bottom: 24px;
  border-bottom: 1px solid #323232;
}

@keyframes appear {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@media (min-width: 700px) {
  #cards {
    max-width: 670px;
    flex-direction: row;
    flex-wrap: wrap;
  }
}

@media (min-width: 1100px) {
  #cards {
    max-width: 1070px;
    flex-direction: row;
    flex-wrap: wrap;
  }
}
